
{% if auth.check() %}
  <nav class="navbar navbar-expand-md navbar-dark bg-navbar fixed-right">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <ul class="navbar-nav mr-auto navbar-notifications">
            {% include 'auth/_nav.twig' %}
          </ul>
        </li>
        <li class="nav-item">
          {% include 'app/_post.twig' %}
        </li>
        <li class="nav-item">
          <div class="fb-share-button" data-href="https:/followmy.voyage" data-layout="button_count"></div>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}
