{% import 'app/macro/form.twig' as form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Follow My Voyage">
    <meta name="author" content="Webanet.com.au">
    <title>FollowMy.Voyage</title>
    {% block imports %}
      <link href="/vendor/fontAwesome/all.min.css" rel="stylesheet" type="text/css">
      <link href="/css/followmy.min.css" rel="stylesheet" type="text/css">
    {% endblock %}
  </head>

  <body id="page-top {{page.body}}">
    <div id="app">
      {% block navbar %}
        {% include 'app/_navbar.twig' %}
      {% endblock %}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {% block topbar %}
            {% include 'app/_topbar.twig' %}
          {% endblock %}
          {% block body %}{% endblock %}
        </div>
        <!--<footer class="sticky-footer bg-white"> <div class="container my-auto"> {% block flash %} {% include 'app/_flash.twig' %} {% endblock %} </div> </footer>-->
      </div>
    </div>
    {% block javascript %}{% endblock %}
  </body>
</html>
